
.flex-container {
  display: grid;
}
.flex-container > div {
    box-shadow: #000;
  width:25vw;
  margin: 0px 10px;}
.html-form{
  width: 46%;
  background: #1abeef;
  padding: 10px;
  border: 1px solid #000000;}
input[type="submit"]{
    border-radius: 8px;
  border: none;
  background: #01101e;
  color: white;
  margin-top: 5px;
  padding: 8px 35px;
  font-size: 15px;
  position: relative;
  left: 11px;}
input[type="text"], input[type="email"], input[type="password"] {
  width: 100%;
  height: 20px;
  background: white;
  border: 1px solid lightgray;
  margin: 5px 0px;
  padding: 5px;}
.html-form h3{
  text-align: center;
  font-size: 25px;
  margin: 0px;
  margin-bottom: 5px;
  color: #015ba9;
  border-bottom: 1px solid;
  margin-bottom: 15px}
#first-name-err, #last-name-err, #email-err, #mobile-number-err, #password-err, #confirm-password-err{
  color:red;
  font-size:13px;
}
.enter{
    margin: 5px;
    border-radius: 5px;
    color: #000;
}